<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Service Request</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              sos: "#E53935",
              appBg: "#F8F9FA",
              cardBg: "#FFFFFF", 
              appBlue: "#4A90E2",
              appText: "#333333",
              appGray: "#757575"
            }
          }
        }
      }
    </script>
</head>
<body class=" min-h-screen flex flex-col items-center justify-center p-4 bg-[url('/black.jpg')] text-white">
       <!-- Form Section -->
    <div class="w-full max-w-md bg-[#111000] rounded-lg shadow-lg p-6">
        <h1 class="text-center font-extrabold text-3xl leading-tight text-orange-400">SocietySync - <br>Smarter, Safer and <br>Secure Society</h1>
        <hr class="border-t-2 border-gray-300 my-4 mx-[40px]">
        <div class="flex items-center justify-between">
          <h2 class="text-xl font-semibold mb-4">Register </h2>
          <a class="text-sm leading-none text-blue-200 text-right" href="/auth/login">Already a user? <br> <span class="underline">Login Here</span></a>
        </div>
        <form action="/auth/register" method="POST">
            <div class="mb-4">
                <label class="block text-sm font-medium ">Name</label>
                <input type="text" name="name" class="w-full p-2 border rounded-lg bg-zinc-100 text-black placeholder-gray-700
placeholder-gray-700" placeholder="Enter your name">
            </div>
            <div class="mb-4">
                <label class="block text-sm font-medium ">Room No</label>
                <input type="text" name="roomNo" class="w-full p-2 border rounded-lg bg-zinc-100 text-black placeholder-gray-700
placeholder-gray-700" placeholder="Enter room number">
            </div>
            <div class="mb-4">
                <label class="block text-sm font-medium ">Email</label>
                <input type="email" name="email" class="w-full p-2 border rounded-lg bg-zinc-100 text-black placeholder-gray-700
placeholder-gray-700" placeholder="Enter email">
            </div>
            <div class="mb-4">
                <label class="block text-sm font-medium ">Password</label>
                <input type="password" name="password" class="w-full p-2 border rounded-lg bg-zinc-100 text-black placeholder-gray-700
placeholder-gray-700" placeholder="Enter password">
            </div>
            <div class="mb-4">
              <label class="block text-sm font-medium ">Mobile</label>
              <input type="text" name="mobile" class="w-full p-2 border rounded-lg bg-zinc-100 text-black placeholder-gray-700
placeholder-gray-700" placeholder="Enter mobile number">
            </div>
            <div class="mb-4">
                <label class="block text-sm font-medium ">Role</label>
                <select class="w-full p-2 border rounded-lg bg-zinc-100 text-black placeholder-gray-700
placeholder-gray-700" name="role">
                    <option>Resident</option>
                    <option>Admin</option>
                    <option>Security</option>
                </select>
            </div>
            <button type="submit" class="w-full bg-appBlue text-white p-2 rounded-lg">Submit Request</button>
        </form>
    </div>

    
</body>
</html>